{% extends "base.html" %}
{% if user.is_authenticated %}
{% block content %}
    <h1 class="text-xl font-bold text-center">{{order.order_date}}</h1>

    {% for order_product in order.order_products.all %}
        <p class="text-xl font-bold text-center">{{order_product.product.name}} x {{order_product.quantity}}</p>
    {% empty %}
    <p class="text-xl font-bold text-center">No hay productos en la orden</p>

    {% endfor %}



{% endblock content %}

{% else %}
{% block asklogin %}
    <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-bold text-center">Debes iniciar sesión para ver tu orden.</h1>
    <h1 class="text-2xl font-bold text-center">
    <br>
    <a
    class="block rounded-md bg-red-600 hover:bg-red-800 px-5 py-2.5 text-sm text-white"
    href="{% url 'login' %}"
    >
    Login
    </a>
    </h1>
    </div>
{% endblock asklogin %}
{% endif %}
